*,*::before,*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
  background-color: #FAFAFF;
}

.topHeader{
  background-color: #30343F;
  position: sticky;
	top: 0;
}

ul{
  list-style-type: none;
  display: flex;
  align-content: flex-end;
  justify-content:end;
  list-style-type: none;
}

.siteTitle{
  padding-top: 1rem;
  padding-left: 1rem;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-family: serif;
}

.removeUnderline{
  text-decoration: none;
  transition: color .3s ease-out, color .3s ease;
}

.removeUnderline:hover{
  color: hsl(0, 100%, 75%);
  text-decoration: underline;
}

nav ul {
    display: flex;
    align-content: flex-end;
    justify-content:end;
    list-style-type: none;
}

nav ul li a {
	padding-right: 5rem;
  padding-left: 5rem;
  margin: 0;  
  transition: color .3s ease-out, color .3s ease;
  text-decoration: none;
  font-size: 2rem;
  color: white;
}

nav ul li a:hover {
    color: hsl(0, 100%, 75%);
    text-decoration: underline;
}

.mainText{
  padding: 3rem;
  font-size: 1.5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  max-width: 90%;
}

.container {
  display: flex;
  flex-wrap: wrap; 
  gap: 50px;              
  justify-content: center; 
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #e6e1f3;
}

.item {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  width: 250px;
  padding-bottom: 1rem;
  padding-top: 1rem;            
  background-color: #f5f5f5;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

.item:hover {
  transform: translateY(-5px);
  opacity: 80%;
  cursor: pointer;
}

.catImage {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
}

.ideaText{
  font-size: 1.5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 2rem;
}

footer{
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.userArea {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 40px 20px;
  flex-wrap: wrap;
}

.photoSection, .nameSection {
  background: #ffffff;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 5px 12px rgba(0,0,0,0.1);
  width: 420px;
}

.selectedContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}

.photoSection, .nameIdeaText{
  padding-bottom: .5rem;
  font-size: 1.5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.emptyBox {
  width: 380px;
  height: 380px;
  opacity: 0.3;
  background: #ddd;
  border-radius: 15px;
}

.selectedImage {
  width: 380px;
  height: 380px;
  object-fit: cover;
  border-radius: 15px;
}

.nameSection button {
  margin: 0;
  margin-bottom: 3rem;
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  background-color: #30343F;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.nameSection button:hover {
  background-color: #505466;
}

.displayName{
  text-align: center;
  margin-top: 20px;
  opacity: 0;
  font-size: 1.5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.normalA{
  color:blue;
}

.normalA:hover{
  color:red;
}